
<!--Criei varios componenrte para cada artea do sistema
  e vou mmontando eles dentor da app root eles são pedacoes do sitgema montandos em html e vou ordenando ai dentro
São eles

                        CABECALHO
MENU_LATERAL            MAIN CONTENT(SEM COMPONENTE SO ESPACÇO INTERNO)
                        FOOTER
-->

<app-header></app-header>
<app-menu></app-menu>

<div class="content-wrapper">
  <section class="content-header">NOME ITEM AQUI</section>
  <section class="content">
  SISTEMA AQUI

  </section>
</div>

<app-footer></app-footer>
