
<!--Criei varios componenrte para cada artea do sistema
  e vou mmontando eles dentor da app root eles são pedacoes do sitgema montandos em html e vou ordenando ai dentro
São eles

                        CABECALHO
MENU_LATERAL            MAIN CONTENT(SEM COMPONENTE SO ESPACÇO INTERNO)
                        FOOTER
-->

<app-header [hidden]="!ShowTemplate"></app-header>
<app-menu  [hidden]="!ShowTemplate"></app-menu>

<div  [ngClass]="exibeBarraLateral()" >
  <section class="content-header">NOME ITEM AQUI</section>
  <section class="content">
    <!-- essa ag serve para renderizar as nossas rotas aqui-->
  <router-outlet></router-outlet>

  </section>
</div>

<app-footer [hidden]="!ShowTemplate"></app-footer>
